body {
	background-color: #dcedc8;
}

.input-field label {
	color: #000;
}

.input-field input[type=text]:focus + label {
	color: #4caf50;
}

.input-field input[type=text]:focus {
	 border-bottom: 1px solid #4caf50;
	 box-shadow: 0 1px 0 0 #4caf50;
}

.input-field .prefix.active {
	color: #4caf50;
}

.option {
	width: 275px;
	height: 500px;
	float: left;
}

.menu {
	width: 250px;
	height: 250px;
	background-color: #000000;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px;
	padding-top: 200px;
	font-size: 25px;
}

.menu a {
	color: white;
}

.dashboard {
	padding: 100px;
	padding-top: 125px;
}

.desc {
	padding: 20px;
	font-size: 14px;
	float: left;
}

.manager {
	padding: 100px;
	margin-top: -50px;
}

.steward {
	width: 200px;
	height: 200px;
}

.plantDesc {
	font-size: 17px;
}