<style>
  .backButton{
    margin: 20px;
    margin-bottom: 0px;
  }
</style>

<nav>
  <div class="nav-wrapper brown darken-3">
    <a class="brand-logo" href="#/dashboard"> &nbsp&nbsp LUMBR</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/dashboard">Hi {{username}}!</a></li>
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul> 
    <ul class="side-nav" id="mobile-menu">
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul>
  </div>
</nav>

<div class="backButton">
  <a href="#/dashboard/programManagerSteward" class="waves-effect waves-light btn-large brown">Back</a>
</div>

<div class="container">
  <div class="row">
    <div class="col s6">
      <img src="../../images/tree/{{resultData.treeName}}.jpg" class="materialboxed" width="300px;" height="300px;">
    </div>

     <ul class="collection with-header col s6">
        <li class="collection-header center-align"><h4>{{resultData.treeName}}</h4></li>
        <li class="collection-item">
          <p><span class="label"><strong>Scientific name:</strong> </span>{{resultData.scientificName}}</p>
        </li>
        <li class="collection-item">
          <p><span class="label"><strong>Family name: </strong></span>{{resultData.familyName}}</p>
        </li>
        <li class="collection-item">
          <p><span class="label"><strong>Conservation Status: </strong></span>{{resultData.conservationStatus}}</p>
        </li>
        <li class="collection-item">
          <p><span class="label"><strong>Uses: </strong></span>{{resultData.uses}}</p>
        </li>
        <li class="collection-item">
          <p><span class="label"><strong>Seed Type: </strong></span>{{resultData.seedType}}</p>
        </li>
        <li class="collection-item">
          <p><span class="label"><strong>Seed Count: </strong></span>{{resultData.seedCount}}</p>
        </li>
      </ul>

    <form class="col s12 center-align" id="addForm">
        <div>
          <h4 class="left-align">Add Report</h4>
        </div>
        
        <div class="row">
          <div class="input-field col s6">
            <textarea id="reporttext" class="materialize-textarea" ng-model="report.reportTxt"></textarea>
            <label for="reporttext">Report Content</label>
          </div>

          <div class="file-field input-field col s6">
            <div class="waves-effect waves-light brown darken-3 btn">
              <span>Report Picture</span>
              <input id="uploadPicBtn" type="file" name='file' accept=".jpeg,.jpg,.png" file-model="report.pictureFile"/>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>

        <div>
          <input type="button" class="waves-effect waves-light brown btn" value="Send" ng-click="AddReport()" />
        </div>
    </form>

  </div>
</div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({ accordion : false });
    $('.materialboxed').materialbox();
  });
</script>