<nav>
  <div class="nav-wrapper brown darken-3">
    <a class="brand-logo" href="#/dashboard"> &nbsp&nbsp LUMBR</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/dashboard">Hi {{username}}!</a></li>
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul> 
    <ul class="side-nav" id="mobile-menu">
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul>
  </div>
</nav>

   <div class="manager">
      <div class="row">
        <div class="col s4">
          <img src="../images/1.jpeg" class="materialboxed" width="300px;" height="300px;">
        </div>

        <div class="col s4">
          <div class="row">
            {{resultData.treeName}}
            <p><span class="label">Scientific name: </span>{{resultData.scientificName}}</p>
            <p><span class="label">Family name: </span>{{resultData.familyName}}</p>
            <p><span class="label">Conservation Status: </span>{{resultData.conservationStatus}}</p>
            <p><span class="label">Uses: </span>{{resultData.uses}}</p>
            <p><span class="label">Seed Type: </span>{{resultData.seedType}}</p>
            <p><span class="label">Seed Count: </span>{{resultData.seedCount}}</p>
          </div>

          <div class="row">
            
            <p >
              <ul class="collapsible" data-collapsible="accordion" ng-repeat="report in reports">
                <li>
                  <div class="collapsible-header"><i class="material-icons">filter_drama</i>
                    {{report.dateReported | date: 'MM/dd/yyyy'}}
                  </div>
                  <div class="collapsible-body"><p>
                      {{report.reportImg}}
                      {{report.reportTxt}}
                  </p></div>
                </li>
                <li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col s4" align="right">
          <ul class="collapsible steward" data-collapsible="accordion">
            <li class="steward">
              <div class="collapsible-header steward tooltipped" data-position="top" data-delay="50" data-tooltip="Steward information">
              <img src="../images/1.jpeg" width="150px" height="150px;">
              </div>
              <div class="collapsible-body white" align="left">
                <p>
                  Name: {{steward.fullname}}<br/>
                  E-mail: {{steward.email}}<br/>
                  Contact No.: {{steward.cpNumber}}
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

<script>
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
</script>