<nav>
  <div class="nav-wrapper brown darken-3">
    <a href="#/dashboard"> &nbsp&nbsp LUMBR</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/dashboard">Hi {{username}}!</a></li>
      <li><a href="#/login" ng-click="logout()">Log-Out</a></li>
    </ul> 
    <ul class="side-nav" id="mobile-menu">
      <li><a href="#/dashboard">Dashboard</a></li>
      <li><a href="#/login" ng-click="logout()">Log-Out</a></li>
    </ul>
  </div>
</nav>

    <div class="dashboard">
      <div class="option" hoverable>
        <div class="menu" style="background-image: url('../images/2.jpg'); padding-top:175px;">
          <a href="#/dashboard/landClassification">Land Capability Classification</a>
        </div>

        <div class="desc">
            Description<br/>
            Lorem epsum Lorem epsum Lorem epsum Lorem epsum
          </div>
      </div>

      <div class="option">
        <div class="menu" style="background-image: url('../images/2.jpg');">
          <a href="#/dashboard/tree-library">Tree Library</a>
        </div>

        <div class="desc">
            Description<br/>
            Lorem epsum Lorem epsum Lorem epsum Lorem epsum
          </div>
      </div>

      <div class="option">
        <div class="menu" style="background-image: url('../images/2.jpg');">
          <a href="#/dashboard/programManager">Program Manager</a>
        </div>

        <div class="desc">
            Description<br/>
            Lorem epsum Lorem epsum Lorem epsum Lorem epsum
          </div>
      </div>

      <div class="option">
        <div class="menu" style="background-image: url('../images/2.jpg'); padding-top:175px;">
          <a href="#/dashboard/agroForestrySystem">Agroforestry Technologies</a>
        </div>

        <div class="desc">
            Description<br/>
            Lorem epsum Lorem epsum Lorem epsum Lorem epsum
          </div>
      </div>

    </div>