<style>
  .scientific-name{
    font-style: italic;
  }
  .tree-title{
    font-weight: bold;
  }
  .label{
    font-weight: bold;
  }
  .bottom-nav{
    text-align: center;
  }
</style>

<nav>
  <div class="nav-wrapper brown darken-3">
    <a href="#/dashboard"> &nbsp&nbsp LUMBR</a>
    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#/dashboard">Hi {{username}}!</a></li>
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul> 
    <ul class="side-nav" id="mobile-menu">
      <li><a href="#/login" ng-click="logout()">Log out</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <div class="row">
      <div class="col s12">
        <div class="col s4"><h5> Trees </h5></div>
        <div class="input-field col s4">
          <label for="searchresults">Search: </label><input ng-model="filterText.$" id="searchresults"><br />
        </div>
        <div class="input-field col s4">
          <label for="filterresults">Filter:</label>
          <select id="filterresults" ng-model="filterText.type">
            <option value="Ecological Protection">Ecological Protection</option>
            <option value="Utilization">Utilization</option>
            <option value="Flowering">Flowering</option>
            <option value="Non-timber Forest Products">Non-timber Forest Products</option>
          </select>
        </div>
      </div>

      <div class="col s4" ng-repeat="tree in trees | startFrom:currentPage*pageSize | limitTo:pageSize | filter: filterText">
        <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../images/tree/Akle.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator tree-title">{{tree.treeName}}<i class="material-icons right">more_vert</i></span>
            <p class="scientific-name">{{tree.scientificName}}</p>
          </div>
          <div class="card-reveal">
            <span class="card-title">Akle<i class="material-icons right">close</i></span>
            <p><span class="label">Family name: </span>{{tree.familyName}}</p>
            <p><span class="label">Conservation Status: </span>{{tree.conservationStatus}}</p>
            <p><span class="label">Uses: </span>{{tree.uses}}</p>
            <p><span class="label">Seed Type: </span>{{tree.seedType}}</p>
            <p><span class="label">Seed Count: </span>{{tree.seedCount}}</p>
          </div>
        </div>
      </div>
  </div>
  <div class="bottom-nav">
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="waves-effect waves-light btn green">
      Previous
    </button>
    Page: {{currentPage+1}} of {{numberOfPages()}}
    <button ng-disabled="currentPage >= trees.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="waves-effect waves-light btn green">
      Next
    </button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>